<h1>Remote date prompts</h1>

<p>On a virtual date?</p>

<p>Stuck for something to say? For something to do?</p>

<p>Look no further.</p>

<a class="prompt-button" href="/prompt" style="border-color: <%= text_colour %>;">Get a random prompt</a>
