<!DOCTYPE html>
<html>
<head>
	<title>Remote date prompts</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	body {
		background-color: <%= background_colour %>;
		color: <%= text_colour %>;
	}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>
