<a href="/question" class="prompt-button" style="border-color: <%= text_colour %>">
	Give me a question
</a>
<a href="/prompt" class="prompt-button" style="border-color: <%= text_colour %>">
	Prompt me
</a>
<div class="prompt">
	<%= question %>
</div>