a {
	color: inherit;
}

body {
	font-family: sans-serif;
}

h1 {
	font-size: 46px;
}

p {
	font-size: 32px;
}

.prompt-button {
	border: 3px solid black;
	display: inline-block;
	font-size: 24px;
	padding: 12px;
	text-decoration: none;
}

.acknowledgement {
	margin-top: 100px;
}

:visited {
	color: inherit;
	text-decoration: none;
}

@media (min-width: 100px) {

.prompt {
	font-size: 50px;
	margin: 30px;
}

}

@media (min-width: 800px) {

.prompt {
	font-size: 70px;
	margin: 75px;
}

}
